@model KursWork.Models.Инвентарь

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Инвентарь</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Номер_инвентаря)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Номер_инвентаря)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Наименование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Состояние)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Состояние)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Назначение)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Назначение)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Число_владельцев)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Число_владельцев)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Стоимость)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Стоимость)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Принцип_работы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Принцип_работы)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Номер_комплектного_инвентаря)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_комплектного_инвентаря)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Номер_инвентаря }) |
    @Html.ActionLink("К списку", "Index")
</p>
