@model KursWork.Models.Участок

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Участок</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Номер_участка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_участка)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Площадь)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Площадь)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Эффективность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Эффективность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тип_участка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тип_участка)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Загоны.Тип_животных)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Загоны.Тип_животных)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Поля_и_теплицы.Тип_почвы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Поля_и_теплицы.Тип_почвы)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Номер_участка }) |
    @Html.ActionLink("К списку", "Index")
</p>
