@model KursWork.Models.Инвентарь

@{
    ViewBag.Title = "Создание";
}

<h2>Создание</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Инвентарь</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Наименование, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Наименование, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Наименование, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Состояние, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Состояние, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Состояние, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Назначение, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Назначение, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Назначение, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Число_владельцев, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Число_владельцев, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Число_владельцев, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Стоимость, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Стоимость, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Стоимость, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Принцип_работы, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Принцип_работы, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Принцип_работы, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Номер_комплектного_инвентаря, "Номер_комплектного_инвентаря", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Номер_комплектного_инвентаря, new { htmlAttributes = new { @class = "form-control" } })
                @* @Html.DropDownList("Номер_комплектного_инвентаря", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.Номер_комплектного_инвентаря, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("К списку", "IndexW")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
