@model KursWork.Models.Замеры

@{
    ViewBag.Title = "Создание";
}

<h2>Создание</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Замеры</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Номер_замера, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Номер_замера, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Номер_замера, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Средняя_температура_на_участке, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Средняя_температура_на_участке, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Средняя_температура_на_участке, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Давление, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Давление, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Давление, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Влажность_участка, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Влажность_участка, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Влажность_участка, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Освещенность_участка, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Освещенность_участка, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Освещенность_участка, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Пригодность_параметров, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Пригодность_параметров, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Пригодность_параметров, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Дата_проведения, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Дата_проведения, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Дата_проведения, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Номер_участка, "Номер_участка", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Номер_участка", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Номер_участка, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("К списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
